OPENROUTER_API_KEY=tu_api_key_de_openrouter
LANGFUSE_PUBLIC_KEY=tu_public_key_del_reto
LANGFUSE_SECRET_KEY=tu_secret_key_del_reto
LANGFUSE_HOST=https://challenges.reply.com/langfuse
TEAM_NAME=nombre_de_tu_equipo
LANGFUSE_MEDIA_UPLOAD_ENABLED=false